* {
 	box-sizing: border-box;
	font-family: 'Roboto';
}

body{
	margin:0px; padding:0px;
}

.lobster{
	font-family: 'Lobster';
}

.lilitaOne{
	font-family: 'Lilita+One';
}

[class*="col-"] { 
	width: 100%;
}

@media only screen and (min-width: 600px) {
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

.colorful{
	background: linear-gradient(to right, yellow,orange,red)
}

.white{
	background-color: white;
	color: black;
}

.judul{
	font-size: 80px;
	text-align: center;
}

#home{
	background-image: url(images/foto.jpg);
}

#aboutme{
	background-image: url(images/background1.jpg);
}

#portfolio img{
	text-align: center;
	padding: 10px;
	width: 35%;
	height: 35%;
}

#portfolio img:hover{
	transform: scale(1.1);
}

#contact img:hover{
	transform: scale(1.1);
}

#comment{
	background-color: black;
	color: white;
}

.navbar{
	position: relative;
	display: block;
	text-align: center;
	margin: auto;
	padding: 10px;
	width: 100%;
}

.navbar li{
	display: inline-block;
	width: 15%;
}

.navbar li a{
	text-decoration: none;
	color: black;
}

.navbar li a:hover{
	color: white;
}

.padding-8{ 
	padding: 8px;
}

.padding-16 { 
	padding: 16px;
}

.padding-32 { 
	padding: 32px;
}

.padding-64 { 
	padding: 64px;
}

.padding-128 { 
	padding: 128px;
}

.padding-325 { 
	padding: 325px;
}

.center{
	text-align: center;
}

.swap a{
	text-decoration: none;
}

h4{
	font-size: 18px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #191919;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #fabd3a;
}

#menu{
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: gray;
	color:black;
}